
Data/aysen_2018.tif
GEE/.ipynb_checkpoints/12_zonal_statistics-checkpoint.ipynb
GEE/.ipynb_checkpoints/Clasificación supervisada Aysén-checkpoint.ipynb
GEE/.ipynb_checkpoints/Clasificación supervisada Random Forest-checkpoint.ipynb
GEE/12_zonal_statistics.ipynb
GEE/Clasificación supervisada Aysén.ipynb
GEE/Clasificación supervisada ML - Región de Aysen -.ipynb
GEE/Clasificación supervisada Random Forest.ipynb
states.csv
